<style> body{background-color: aqua;}
        head{background-color: blue;}
        h1{background-color: blueviolet;}
        b{color: beige;}
        i{color: yellow;}
        u{color: burlywood;}
</style>